@model FilePostingExp.ViewModel.UserRegistrationViewModel
@{
}

<h1>Registration</h1>

@using (Html.BeginForm("Confirm", "User", FormMethod.Post, new { @enctype="multipart/form-data", @class="form-horizontal"}))
{

<dl class="form-group">
	<dd>@Html.LabelFor(model => model.UserName, new { @class="col-md-2 control-label" })</dd>
	<dt class="col-md-10">@Html.TextBoxFor(model => model.UserName, new { @class="form-control" })</dt>

	<dd>@Html.LabelFor(model => model.ThumbnailFile, new { @class="col-md-2 control-label" })</dd>
	<dt class="col-md-10">@Html.TextBoxFor(model => model.ThumbnailFile, new { @type="file" })</dt>
</dl>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-default">Confirm</button>
    </div>
</div>
}